<div>
  <p>You created a new account! Click the link to activate it.</p>
  <p>This link expires in
    <strong> 10 minutes!</strong></p>
  <p>Just click the link and then we will inform you if it expired and send you
    new one in that case.</p>
  <a href='{{url}}'>{{url}}</a>
</div>